*{
margin:0;
padding:0;
box-sizing: border-box;


}
header{
    width:100%;
    height:100vh;
    background-image: url('men.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    background-color: aqua;
}
nav{

 width:100%;
 height:10vh;
 background: white;
 color:black;
 display:flex;
 justify-content: space-between;
 align-items: center;
 text-transform: uppercase;
 direction: left;
}

nav .logo{
    width:25%;
    justify-content: center;
    text-align: center;

}
nav .menu{
    padding: 0px;
    margin: -20px 400px;
    position:absolute;
    width:40%;
    display:flex; justify-content:space-around ;
    text-align: center;

}
nav.menu a{

 width:25%;
 text-decoration: none; color:white;
 font-weight: bold;
 justify-content: center;
 text-align: center;
 padding:12px 25px;

}
main{
    width:100%;
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color:white
}
section{



}







section h1{
    margin:400px 0 20px 0;
    font-size: 55px;
    font-weight: 300;
    text-shadow: 2px 1px 5px black;
   


}
section h2{
    margin:10px 0 30px 0;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 2px 1px 5px black;
   


}